* {
    text-align: center;
}

table {
    background-color: blue;
}

#listas {
    background-color: white;
}

#cinco {
    background-color: yellow;
    height: 150px;
}

tbody:last-child tr:last-child th {
    background-color: blue;
    color: black;
    height: 50px;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td li {
    color: red;
}

tr th:first-child {
    background-color: red;
    color: white;
    width: 50px;
}

thead tr th:first-child {
    background-color: white;
}

thead {
    background-color: blue;
    ;
}

.gb {
    font-weight: bold;
    background-color: gray;
}

#listas td[colspan="2"] {
    background-color: blue;
}